/* Fuente global gamer */
body {
  font-family: "Orbitron", sans-serif;
  background-color: #0d0d0d;
  color: #3d3b3b;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

/* Titulares épicos */
h1, h2, h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: #00eaff;
}

/* Contenedor general */
.app {
  padding: 20px;
}

/* Header */
.header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #00eaff;
}

/* Botones generales */
button {
  font-family: "Orbitron", sans-serif;
  cursor: pointer;
  background-color: #00eaff;
  border: none;
  color: #000;
  padding: 10px 15px;
  border-radius: 6px;
  transition: 0.2s;
}

button:hover {
  background-color: #00b3c6;
}

/* Tarjetas de juegos */
.tarjeta-juego {
  background-color: #111;
  border: 1px solid #00eaff33;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  transition: transform 0.2s;
}

.tarjeta-juego:hover {
  transform: scale(1.02);
}

/* Reseñas */
.contenedor-resenas {
  margin-top: 20px;
}

.burbuja-resena {
  background-color: #1a1a1a;
  border-left: 4px solid #00eaff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.texto-resena {
  margin: 0;
  color: #fff;
}

.estrellas-resena {
  color: #00eaff;
  margin-top: 5px;
}

/* Textarea grande */
.area-resena-grande {
  width: 100%;
  height: 90px;
  background-color: #0f0f0f;
  border: 1px solid #00eaff33;
  color: white;
  padding: 10px;
  border-radius: 6px;
  resize: none;
  font-family: "Orbitron", sans-serif;
}

select {
  background-color: #0f0f0f;
  border: 1px solid #00eaff;
  color: #00eaff;
  padding: 5px;
  font-family: "Orbitron", sans-serif;
}